{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": ["minify-simplify", "@babel/plugin-transform-runtime"]
}
